@import "sass/helpers/vars";
@import "sass/helpers/mixin";
@import "sass/global";
@import "sass/components/buttons";
@import "sass/layout/icons";
@import "sass/layout/navbar";
@import "sass/layout/header";
@import "sass/layout/about";
@import "sass/layout/skills";
@import "sass/layout/works";
@import "sass/layout/services";
@import "sass/layout/contact";



@import "sass/layout/footer";
