/*====== Transtion =======*/
/*==================================================================
============== Global Properties ===================================
=================================================================*/
body {
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
  background: #ffffff;
  height: 5000px;
  overflow-x: hidden;
  font-size: 16px;
}

body::-webkit-scrollbar {
  background-color: #2a8e8238;
  width: 10px;
  right: -10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #2a8e82;
  border-radius: 8px;
  right: -10px;
}

.site-section {
  padding-top: 80px;
}

p.heading {
  font-size: 45px;
  margin-bottom: 0px;
}

@media (max-width: 576px) {
  .site-section {
    padding-top: 40px;
  }

  p.heading {
    font-size: 35px;
  }
}
.btn {
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
}

.green-btn {
  background-color: #fff;
  background-color: #2a8e82;
  color: #fff;
}

.green-btn:hover {
  background-color: #fff;
}

.white-btn {
  background-color: #fff;
  background-color: #fff;
}

.white-btn:hover {
  background-color: #2a8e82;
  color: #fff;
}

@media (max-width: 768px) {
  .btn {
    padding: 7px 10px;
    font-size: 14px;
  }
}
/*==================================================================
============== NavBar =============================================
=================================================================*/
#navbar {
  height: 60px;
  width: 100vw;
  background-color: transparent;
  position: fixed;
  z-index: 10;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  /*=== Logo ===*/
  /*=== nav-links ===*/
  /*=== Bar Icon ===*/
}
#navbar.navbar-sticky {
  height: 50px;
  box-shadow: 0px 0px 15px 0px #0000004f;
  background-color: #fff;
}
#navbar.navbar-sticky a {
  color: #2a8e82 !important;
}
#navbar.navbar-sticky .bar div {
  background: #2a8e82;
}
#navbar.mob-nav {
  height: 60px;
  box-shadow: none;
  background-color: transparent;
}
#navbar.mob-nav a {
  color: #2a8e82 !important;
}
#navbar.mob-nav .bar div {
  background: #2a8e82;
}
#navbar .container {
  display: flex;
  align-items: center;
  height: 100%;
}
#navbar .logo {
  z-index: 999999;
}
#navbar .logo a {
  color: #fff;
}
#navbar .logo a img {
  height: 25px;
  width: 25px;
}
#navbar .nav-links {
  display: flex;
  list-style: none;
  width: 85vw;
  justify-content: flex-end;
  margin-bottom: 0px;
}
#navbar .nav-links li {
  position: relative;
}
#navbar .nav-links li a {
  color: #fff;
  text-decoration: none;
  margin: 0 1vw;
}
#navbar .nav-links li a:hover {
  color: #2a8e82;
}
#navbar .nav-links li a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  height: 2px;
  border-radius: 5px;
  width: 0%;
  margin-left: 10%;
  background-color: #2a8e82;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#navbar .nav-links li a:before:hover {
  width: 80%;
}
#navbar .bar {
  display: none;
  /*Animating bar Icon on Click*/
}
#navbar .bar div {
  width: 35px;
  height: 4px;
  background: #fff;
  margin: 4px;
  border-radius: 7px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#navbar .bar.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
#navbar .bar.toggle .line2 {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 0;
}
#navbar .bar.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*===== Stying for small screens ====*/
@media (max-width: 768px) {
  #navbar {
    position: fixed;
    z-index: 9999;
  }
  #navbar .bar {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #navbar .nav-links {
    position: fixed;
    background: rgba(255, 255, 255, 0.9);
    height: 80vh;
    top: 0px;
    left: 0px;
    width: 100%;
    flex-direction: column;
    -webkit-clip-path: circle(0px at 100% 0%);
    clip-path: circle(0px at 100% 0%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
    box-shadow: 0px 0px 15px 0px #0000004f;
    /*===== At Open ====*/
  }
  #navbar .nav-links li {
    opacity: 0;
  }
  #navbar .nav-links.open {
    padding-left: 0px;
    text-align: center;
    clip-path: circle(1000px at 100%);
    -webkit-clip-path: circle(1000px at 100%);
    pointer-events: all;
  }
  #navbar .nav-links.open li.fade {
    opacity: 1;
    margin: 17px;
  }
  #navbar .nav-links.open li.fade a {
    color: #2a8e82;
  }
  #navbar .nav-links.open li a:hover::before {
    width: 20%;
    margin-left: 40%;
  }
}
/*==================================================================
============== Header =============================================
=================================================================*/
#header {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  /* Vertical */
  justify-content: center;
  /* Horizontal */
  text-align: center;
  background-image: url("../images/bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#header > :before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
#header .header-info {
  margin-top: 6rem;
}
#header .header-info h1 {
  font-weight: 900;
  line-height: 1;
}
#header .header-info .go-down {
  position: absolute;
  bottom: -120%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#header .header-info .go-down span {
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin: 0px;
  animation: animate 2s infinite;
}
#header .header-info .go-down span:nth-child(2) {
  animation-delay: -0.1s;
}
#header .header-info .go-down span:nth-child(3) {
  animation-delay: -0.2s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/*========== Responsive ===========*/
@media (max-width: 768px) {
  #header {
    background-image: url("../images/bg-mob.png");
  }
  #header h1 {
    font-size: 25px;
  }
}
/*==================================================================
============== About =============================================
=================================================================*/
#about {
  position: relative;
  background-color: #fff;
}
#about .right-section::before {
  content: "";
  position: absolute;
  right: -170px;
  top: -40px;
  width: 300px;
  height: 260px;
  background: url("../images/xdots.webp");
}
#about .right-section .img-container {
  width: 100%;
  position: relative;
}
#about .right-section .img-container img {
  max-width: 100%;
  height: auto;
}
#about .right-section .img-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #2a8e8238;
}
#about .my-bio p {
  color: #000;
}

/*==================================================================
============== Skills =============================================
=================================================================*/
#skills .progress-bars {
  padding: 40px 0px;
}
#skills .progress-bars > div:nth-of-type(2) {
  position: relative;
}
#skills .progress-bars > div:nth-of-type(2) span {
  position: absolute;
  width: 4px;
  height: 80%;
  top: 10%;
  background: #2a8e82;
  border-radius: 5px;
}
#skills .progress-bars .skill h3 {
  font-size: 18px;
}
#skills .progress-bars .skill .progress {
  overflow: visible;
  margin-bottom: 26px;
  height: 4px;
}
#skills .progress-bars .skill .progress .progress-bar {
  background-color: #2a8e82;
  position: relative;
  border-radius: 4px;
  overflow: visible;
  height: 5px;
}
#skills .progress-bars .skill .progress span {
  background-color: #2a8e82;
  position: absolute;
  bottom: -25px;
  font-size: 10px;
  line-height: 10px;
  padding: 4px 5px;
  right: -1.4em;
  border-radius: 2px;
}
#skills .progress-bars .skill .progress span::after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #2a8e82;
  border-width: 5px;
  margin-left: -5px;
}

@media (max-width: 768px) {
  #skills .progress-bars > div:nth-of-type(2) span {
    display: none;
  }
}
/*==================================================================
============== Works =============================================
=================================================================*/
#works {
  background-color: #fff;
}

/*==================================================================
============== Services =============================================
=================================================================*/
#services .site-service-item {
  padding: 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
#services .site-service-item .icon {
  font-size: 50px;
  color: #2a8e82;
}
#services .site-service-item h3 {
  font-size: 18px;
}

/*==================================================================
============== Contact =============================================
=================================================================*/
#contact {
  background-color: #fff;
}

/*==================================================================
============== Footer =============================================
=================================================================*/
#footer {
  background-color: #fff;
}

/*# sourceMappingURL=file.css.map */
