/*==================================================================
============== Global Properties ===================================
=================================================================*/
body {
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
  background: #ffffff;
  height: 5000px;
  overflow-x: hidden;
  font-size: 16px;
  color: #939393;
}

body::-webkit-scrollbar {
  background-color: #fff;
  width: 10px;
  right: -10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #2a8e82;
  border-radius: 8px;
  right: -10px;
}

.btn {
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
}

.blue-btn {
  background-color: #fff;
  background-color: #2a8e82;
  color: #fff;
}

.blue-btn:hover {
  background-color: #fff;
}

.white-btn {
  background-color: #fff;
  background-color: #fff;
}

.white-btn:hover {
  background-color: #2a8e82;
  color: #fff;
}

/*==================================================================
============== NavBar =============================================
=================================================================*/
#navbar {
  height: 60px;
  width: 100vw;
  background-color: transparent;
  position: fixed;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  /*=== nav-links ===*/
  /*=== Bar Icon ===*/
  /*===== Stying for small screens ====*/
}
#navbar.navbar-sticky {
  height: 50px;
  box-shadow: 0px 0px 15px 0px #0000004f;
  background-color: #fff;
}
#navbar.navbar-sticky a {
  color: #2a8e82 !important;
}
#navbar.navbar-sticky .bar div {
  background: #2a8e82;
}
#navbar.mob-nav {
  height: 60px;
  box-shadow: none;
  background-color: transparent;
}
#navbar.mob-nav a {
  color: #2a8e82 !important;
}
#navbar.mob-nav .bar div {
  background: #2a8e82;
}
#navbar .container {
  display: flex;
  align-items: center;
  height: 100%;
  /*=== Logo ===*/
}
#navbar .container .logo {
  z-index: 999999;
}
#navbar .container .logo a {
  color: #fff;
}
#navbar .container .logo a img {
  height: 25px;
  width: 25px;
}
#navbar .nav-links {
  display: flex;
  list-style: none;
  width: 85vw;
  justify-content: flex-end;
  margin-bottom: 0px;
}
#navbar .nav-links li {
  position: relative;
}
#navbar .nav-links li a {
  color: #fff;
  text-decoration: none;
  margin: 0 1vw;
}
#navbar .nav-links li a:hover {
  color: #2a8e82;
}
#navbar .nav-links li a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  height: 2px;
  border-radius: 5px;
  width: 0%;
  margin-left: 10%;
  background-color: #2a8e82;
  transition: all 0.3s ease-in-out;
}
#navbar .nav-links li a:before:hover {
  width: 80%;
}
#navbar .bar {
  display: none;
  /*Animating bar Icon on Click*/
}
#navbar .bar div {
  width: 35px;
  height: 4px;
  background: #fff;
  margin: 4px;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
}
#navbar .bar.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
#navbar .bar.toggle .line2 {
  transition: all 0.3s ease;
  width: 0;
}
#navbar .bar.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
@media screen and (max-width: 768px) {
  #navbar {
    position: fixed;
    z-index: 9999;
  }
  #navbar .bar {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  #navbar .nav-links {
    position: fixed;
    background: rgba(255, 255, 255, 0.9);
    height: 80vh;
    top: 0px;
    left: 0px;
    width: 100%;
    flex-direction: column;
    clip-path: circle(0px at 100% 0%);
    -webkit-clip-path: circle(0px at 100% 0%);
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    box-shadow: 0px 0px 15px 0px #0000004f;
    /*===== At Open ====*/
  }
  #navbar .nav-links li {
    opacity: 0;
  }
  #navbar .nav-links.open {
    padding-left: 0px;
    text-align: center;
    clip-path: circle(1000px at 100%);
    -webkit-clip-path: circle(1000px at 100%);
    pointer-events: all;
  }
  #navbar .nav-links.open li.fade {
    opacity: 1;
    margin: 17px;
  }
  #navbar .nav-links.open li.fade a {
    color: #2a8e82;
  }
  #navbar .nav-links.open li a:hover::before {
    width: 20%;
    margin-left: 40%;
  }
}

/*==================================================================
============== Header =============================================
=================================================================*/
#header {
  background-image: url("../images/bg.png");
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#header > :before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
#header .header-info {
  margin-top: 16rem;
}
#header .header-info h1 {
  font-weight: 900;
  line-height: 1;
}
#header .header-info .go-down {
  position: absolute;
  bottom: -120%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#header .header-info .go-down span {
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin: 0px;
  animation: animate 2s infinite;
}
#header .header-info .go-down span:nth-child(2) {
  animation-delay: -0.2s;
}
#header .header-info .go-down span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/*========== Responsive ===========*/
@media (max-width: 768px) {
  #header h1 {
    font-size: 30px;
  }
}
/*==================================================================
============== About =============================================
=================================================================*/
#about {
  background-color: #fff;
}

/*==================================================================
============== Works =============================================
=================================================================*/
#works {
  background-color: #fff;
}

/*==================================================================
============== Services =============================================
=================================================================*/
#services {
  background-color: #fff;
}

/*==================================================================
============== Contact =============================================
=================================================================*/
#contact {
  background-color: #fff;
}

/*==================================================================
============== Footer =============================================
=================================================================*/
#footer {
  background-color: #fff;
}

/*# sourceMappingURL=file.css.map */
