/*==================================================================
============== Global Properties ===================================
=================================================================*/
body {
    font-family: "Nunito", sans-serif;
    line-height: 1.6;
    background: #ffffff;
    overflow-x: hidden;
    font-size: 16px;
    color: #939393;
}