/*==================================================================
============== Global Properties ===================================
=================================================================*/
body {
    font-family: "Nunito", sans-serif;
    line-height: 1.6;
    background: #ffffff;
    height: 5000px;
    overflow-x: hidden;
    font-size: 16px;
}
body::-webkit-scrollbar {
    background-color: $lightMainColor;
    width: 10px;
    right: -10px
}
body::-webkit-scrollbar-thumb{
    background-color: $mainColor;
    border-radius:8px;
    right: -10px
}
.site-section{
    padding-top: 80px 
}
p.heading{
    font-size: 45px;
    margin-bottom: 0px;
}
@media( max-width:576px){
    .site-section{
        padding-top: 40px 
    }
    p.heading{
        font-size: 35px;
    }
}