/*==================================================================
============== About =============================================
=================================================================*/
#about{
    height: 500px;
    position: relative;
    background-color: $white;
    &::before{
        content: '';
        position: absolute;
        left: 30%;
        width: 300px;
        height: 260px;
        background: url('../images/xdots.webp');
        transform: translate(40%, -20%);
        -webkit-transform: translate(40%, -20%);
        -ms-transform: translate(40%, -20%);
        -moz-transform: translate(40%, -20%);
        -o-transform: translate(40%, -20%);
    } 
    .right-section{
        .img-container{
            width: 100% ;
            position: relative;
            img{
                max-width: 100%;
                height: auto;   
            }
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: $lightMainColor;
            } 
        }
        
    }
    .my-bio{
        p{
            color: $black;
            // margin-bottom: 0px;
        }
        .heading{
            font-size: 45px;
            margin-bottom: 0px;
        }
    }
}
