/*==================================================================
============== About =============================================
=================================================================*/
#about{
    position: relative;
    .right-section{
        &::before{
            content: "";
            position: absolute;
            right: -170px;
            top: -40px;
            width: 300px;
            height: 260px;
            background: url('../images/xdots.webp');
        } 
        .img-container{
            width: 100% ;
            position: relative;
            img{
                max-width: 100%;
                height: auto;   
            }
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: $lightMainColor;
            } 
        }
    }
    .my-bio{
        p{
            color: $black;
        }
    }
}
