/*==================================================================
============== Contact =============================================
=================================================================*/
#contact{

    .form-control{
        border: none;   
        outline: none !important;
        font-size: 16px;
        height: 45px;
        padding-left: 0;
        padding-right: 0;
        background: transparent;
        border-bottom: 1px solid $mainColor;
        border-radius: 0;
        color: #000000;
    }
    .form-control:focus,
    .form-control:hover{
        outline: none !important;
    }
    textarea{
        height: 120px !important;
    }
    .list-unstyled{
        a{
            color: $mainColor;
            display: flex;
            &:hover{
                text-decoration: none;
            }
        }
    }
    i{
        padding-right: 10px;
        margin-top: 5px;
    }
}