/*==================================================================
============== Footer =============================================
=================================================================*/
#footer{
    background-color: $white; 
}
