/*==================================================================
============== Header =============================================
=================================================================*/
#home{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center; /* Vertical */
    justify-content: center; /* Horizontal */
    text-align: center;
    background-image: url('../images/bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    >:before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;  
        background: rgba(0, 0, 0, 0.5);
    }
    .header-info{
        margin-top: 6rem;
        h1{
            font-weight: 900;
            line-height: 1;
        }
        .go-down{
            position: absolute;
            bottom: -120%;
            left: 50%;
            transform: translate(-50%, -50%);
            span{
                display: block;
                width: 15px;
                height: 15px;
                border-bottom: 2px solid white;
                border-right: 2px solid white;
                transform: rotate(45deg);
                margin: 0px;
                animation: animate 2s infinite;
                &:nth-child(2){
                    animation-delay: -0.1s;
                }
                &:nth-child(3){
                    animation-delay: -0.2s;
                }
                @keyframes animate{
                    0%{
                        opacity: 0;
                        transform: rotate(45deg) translate(-20px, -20px);
                    }
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                        transform: rotate(45deg) translate(20px, 20px);
                    }
                }
            }
        }
    }
}
/*========== Responsive ===========*/
@media (max-width: 768px){
    #home{
        background-image: url('../images/bg-mob.png');
        h1{
            font-size: 25px;
        }
    }    
}