/*==================================================================
============== NavBar =============================================
=================================================================*/
#navbar{
    background-color: $white; 

}
