/*==================================================================
============== NavBar =============================================
=================================================================*/
#navbar{
    height: 60px;   
    width: 100vw;
    background-color: transparent;
    position: fixed;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    &.navbar-sticky{
        height: 50px;
        box-shadow: 0px 0px 15px 0px #0000004f;
        background-color: $white;
        a{
            color: $mainColor !important;
        }
        .bar div{
            background: $mainColor;
        }
    }
    &.mob-nav{
        height: 60px;   
        box-shadow: none;
        background-color: transparent;
        a{
            color: $mainColor !important;
        }
        .bar div{
            background: $mainColor;
        } 
    }
    .container{
        display: flex;
        align-items: center;
        height: 100%;
        /*=== Logo ===*/
        .logo {
            z-index: 999999;
            a{
                color: $white;
                img {
                    height: 25px;
                    width: 25px;
                }
            }
        }
    }
    /*=== nav-links ===*/
    .nav-links{
        display: flex;
        list-style: none; 
        width: 85vw;
        justify-content: flex-end;
        margin-bottom: 0px;
        li {
            position: relative;
            a{
                color: $white;
                text-decoration: none;
                margin: 0 1vw;    
                &:hover{
                    color: $mainColor;
                }
                &:before{
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0px;
                    height: 2px;
                    border-radius: 5px;
                    width: 0%;
                    margin-left:10%;
                    background-color: $mainColor;
                    transition: all 0.3s ease-in-out; 
                    &:hover{
                        width: 80%;
                    }       
                }
            }
        }
    }
    /*=== Bar Icon ===*/
    .bar{
        display: none;
        div{
            width: 35px;
            height: 4px;
            background: #fff;
            margin: 4px;
            border-radius: 7px;
            transition: all 0.3s ease-in-out;
        }
        /*Animating bar Icon on Click*/
        &.toggle .line1{
            transform: rotate(-45deg) translate(-5px,6px);
        }
        &.toggle .line2{
            transition: all 0.3s ease;
            width:0;
        }
        &.toggle .line3{
            transform: rotate(45deg) translate(-5px,-6px);
        }
    }
    /*===== Stying for small screens ====*/
    @media screen and (max-width: 768px){
        position: fixed;
        z-index: 9999;
        .bar{
            display:block;
            position: absolute;
            cursor: pointer;
            right: 5%;
            top: 50%;
            transform: translate(-5%, -50%);
            z-index: 2;
            transition: all 0.7s ease;
        }
        .nav-links{
            position: fixed;
            background: rgba(255, 255, 255, 0.9);
            height: 80vh;
            top: 0px;
            left: 0px;
            width: 100%;
            flex-direction: column;
            clip-path:  circle(0px at 100% 0%);
            -webkit-clip-path:  circle(0px at 100% 0%);
            transition: all 0.3s ease-in-out;
            pointer-events: none;
            box-shadow: 0px 0px 15px 0px #0000004f;
            li{
                opacity: 0;
            }
            /*===== At Open ====*/
            &.open{
                padding-left: 0px;
                text-align: center;
                clip-path: circle(1000px at 100%);
                -webkit-clip-path: circle(1000px at 100%);
                pointer-events: all;
                li.fade{
                    opacity: 1;
                    margin: 17px;
                    a{
                        color: $mainColor;
                    }
                }
                li a:hover::before{
                    width: 20%;
                    margin-left: 40%;
                }
            }
        }
    }
    
}