/*==================================================================
============== Services =============================================
=================================================================*/
#services{
    
    .site-service-item {
        padding: 30px;
        border-radius: 4px;
        border: 1px solid #ccc;
        .icon {
            font-size: 50px;
            color: $mainColor;
        }
        h3 {
            font-size: 18px;
        }
    }

}
