/*==================================================================
============== Skills =============================================
=================================================================*/
#skills{

    .progress-bars{
        > div:nth-of-type(2){
            position: relative;
            span{
                position: absolute;
                width: 4px;
                height: 80%;
                top: 10%;
                background: #2a8e82;
                border-radius: 5px;
            }
        }
        .skill{
            h3{
                font-size: 18px;
            }
            .progress {
                overflow: visible;
                margin-bottom: 26px;
                height: 4px;
                .progress-bar {
                    background-color: $mainColor;
                    position: relative;
                    border-radius: 4px;
                    overflow: visible;
                    height: 5px;
                }
                span {
                    background-color: $mainColor;
                    position: absolute;
                    bottom: -25px;
                    font-size: 10px;
                    line-height: 10px;
                    padding: 4px 5px;
                    right: -1.4em;
                    border-radius: 2px;
                    &::after {
                        bottom: 100%;
                        left: 50%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-color: rgba(255, 255, 255, 0);
                        border-bottom-color: $mainColor;
                        border-width: 5px;
                        margin-left: -5px;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px){
    #skills{

        .progress-bars{
            > div:nth-of-type(2){
                span{
                    display: none;
                }
            }
        }

    }
}